<div class="container">
    <div class="dashboardheader" id="dashBoardHeading"><span class="glyphicon glyphicon-home"
                                                             style="margin-right: 10px;"></span>Dashboard
        <span style="float: right;font-size: small">Auto Refresh <toggle-switch class="switch-mini" ng-model="autoRefreshEnabled.checked" ng-change="toggleAutoRefresh()"></toggle-switch></span>
    </div>
    <div class="row">
        <div class="col-md-5">
            <div class="box-inner">
                <div class="box-header well">Asset Availability</div>
                <div class="scroll-card-long">
                    <uib-accordion close-others="true">
                        <div uib-accordion-group class="panel-default" is-open="status.open"
                             ng-repeat="type in typeList">
                            <uib-accordion-heading>
                                {{type.type}}-{{type.availableWidth}} <i class="pull-right glyphicon"
                                                 ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}"></i>

                                <div class="progress" style="margin-top: 5px">
                                    <div class="progress-bar progress-bar-success" role="progressbar"
                                         ng-style="{width: type.availableWidth + '%'}" ng-hide="type.availableWidth <= 20">
                                   `wd3646     {{type.availableAssets}} Available
                                    </div>
                                    <div class="progress-bar progress-bar-warning" role="progressbar"
                                         ng-style="{width: type.availableWidth + '%'}" ng-show="type.availableWidth == 20">
                                        {{type.availableAssets}} Available
                                    </div>
                                    <div class="progress-bar progress-bar-danger" role="progressbar"
                                         ng-style="{width: type.availableWidth + '%'}" ng-show="type.totalWidth == 0">
                                        {{type.availableAssets}} Available
                                    </div>
                                    <div class="progress-bar" role="progressbar"
                                         ng-style="{width: type.totalWidth + '%'}" ng-hide="type.totalWidth > 0">
                                        Total {{type.numberOfAsset}}
                                    </div>
                                </div>
                            </uib-accordion-heading>
                            <table class="table table-hover">
                                <tr>
                                    <th>Manufacturer</th>
                                    <th>Available</th>
                                    <th>Total</th>
                                </tr>
                                <tr ng-repeat="manuName in manuName[type.id]">
                                    <td>{{manuName}}</td>
                                    <td> {{manuNameMap[type.id][manuName]['A']}}
                                    </td>
                                    <td>{{manuNameMap[type.id][manuName]['T']}}</td>
                                </tr>
                            </table>
                        </div>
                    </uib-accordion>
                </div>
            </div>
        </div>
        <div class="col-sm-2">

        </div>
        <div class="col-md-5">
            <div class="box-inner">
                <div class="box-header well">Assets Report</div>

                <div class="scroll-card">
                    <table class="table table-hover">
                        <tr ng-repeat="asset in assetExpirationReport"
                            ng-class="asset.status == 'EXPIRED' ? 'danger' : asset.status == 'EXPIRING' ? 'warning' : 'default'">
                            <td>{{asset.name}}<br>
                                <small>{{asset.serialNumber}}</small>
                            </td>
                            <td>{{asset.employeeName}}</td>
                            <td>{{asset.dateTillValid}}</td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="row">
                <div class="col-md-5" style="margin-top: 5px;margin-bottom: 5px;"></div>
            </div>
            <div class="row">
                <div class="box-inner">
                    <div class="box-header well">Pending Approvals</div>

                    <div class="scroll-card">
                        <table class="table table-hover">
                            <tr ng-repeat="approval in pendingApprovals"
                                ng-class="warning">
                                <td>{{approval.incidentId}}</td>
                                <td>{{approval.raisedBy}}<br>
                                    <small>{{approval.employeeCode}}</small>
                                </td>
                                <td>{{approval.submittedDate}}</td>
                                <td>{{approval.assetType}}</td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-5" style="margin-top: 5px;margin-bottom: 5px;"></div>
    </div>
    <div class="row">
        <div class="col-md-5">

        </div>
    </div>
</div>