<!DOCTYPE html>
<html ng-app="app" ng-controller="mainController">
<head lang="en">
    <meta charset="UTF-8">
    <title>Xebia Inventory Tool</title>
    <link rel="stylesheet" href="../styles/main.css">
    <link rel="stylesheet" href="../styles/sideBar.css">
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script src="../scripts/lib/angular.min.js"></script>
    <script src="../scripts/lib/angular-animate.min.js"></script>
    <script src="../scripts/lib/angular-cookies.min.js"></script>
    <script src="../scripts/lib/angular-route.min.js"></script>
    <script src="../scripts/lib/ui-bootstrap-tpls-2.1.3.min.js"></script>
    <script src="../scripts/lib/jquery-3.1.0.min.js"></script>
    <script src="../scripts/lib/justgage.js"></script>
    <script src="../scripts/lib/raphael-2.1.4.min.js"></script>
    <script src='../scripts/lib/modal.js'></script>
    <script src='../scripts/main.js'></script>
    <script src='../scripts/lib/bootstrap-filestyle.js'></script>
    <script src='../scripts/lib/waitingDialog.js'></script>
    <script src='../scripts/controllers/registerController.js'></script>
    <script src='../scripts/controllers/assetsController.js'></script>
    <script src='../scripts/controllers/loginController.js'></script>
    <script src='../scripts/controllers/userController.js'></script>
    <script src='../scripts/controllers/changePasswordController.js'></script>
    <script src='../scripts/controllers/dashboardController.js'></script>
    <script src='../scripts/controllers/monitorController.js'></script>
    <script src='../scripts/controllers/xlsMappingController.js'></script>
    <script src='../scripts/controllers/pageRoleController.js'></script>
    <script src='../scripts/controllers/approvalController.js'></script>
    <script src='../scripts/controllers/statsController.js'></script>
    <script src='../scripts/controllers/activityController.js'></script>
    <script src="../scripts/lib/multiselect.js"></script>
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="../styles/bootstrap.min.css"/>
    <link rel="stylesheet" href="../styles/google-code-prettify/prettify.css" />
    <link rel="stylesheet" href="../styles/underConstruction.css" />
    <link rel="stylesheet" href="../styles/cards.css" />
    <link rel="stylesheet" href="../styles/switch.css" />
    <link rel="icon" href="../images/favicon.ico"/>

    <script src="https://code.highcharts.com/highcharts.js"></script>

    </head>
<body>
<script type="text/javascript">
    $(document).ready(function() {
        $('#undo_redo').multiselect();
       /* $(window).click(function() {
            closeSideBar();
        });

        $('#sidebar-wrapper').click(function(event){
            event.stopPropagation();
        });

        $('#menu-toggle').click(function(event){
            event.stopPropagation();
        });*/
        google.charts.load("current", {packages: ["corechart","gauge"]});
    });

    $('#BSbtnsuccess').filestyle({
        buttonName : 'btn-success',
        buttonText : ' Open'
    });

    $(document).ready(function(){
            $(document).click(function (e) {

                if ($(e.target).is('#sidebar-wrapper,#sidebar-wrapper *,#menu-toggle, #menu-toggle *')) {
                    return;
                }
                else {
                    $("#menu-toggle").show();
                    $("#menu-close").hide();
                    $("#sidebar-wrapper").removeClass("active");
                }
            });
    });

</script>
<header>
    <nav class="navbar navbar-default" style="height: 78px;">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" href="/" style="margin-left: -100px;"><img src="../images/logo.svg" class="navBar-image"></a>
                <h5 ng-show="showPingErrMessage" style="margin-left: 160px"><small  style="color: red">{{pingErrMessage}}</small><img src="../images/radio.svg" class="waitingimg"></h5>
                <h5 ng-show="showPingMessage" style="margin-left: 160px"><small  style="color: #009926">{{pingMessage}}</small><span class="glyphicon glyphicon-thumbs-up" style="color: green"></span></h5>
            </div>

            <ul class="nav navbar-nav navbar-right">
                <li class="nav-item"><a href="#register"><i></i>Employee Management</a></li>
                <li class="nav-item"><a href="#assets"><i></i>Assets Management</a></li>
                <li class="nav-item"><a href="#approvals"><i></i>Approvals<span class="badge">{{approvalsBadgeCount}}</span></a></li>
            </ul>
            <span id="menu-toggle" onclick="openSideBar()" class="btn btn-lg toggle" style="color: #777"><i class="glyphicon glyphicon-list"></i></span>
            <div id="sidebar-wrapper">
                <ul class="sidebar-nav">
                    <span id="menu-close" class="btn btn-lg pull-right toggle" onclick="closeSideBar()" style="color: white;"><i class="glyphicon glyphicon-remove"></i></span>
                    <li class="sidebar-brand">
                        <span>Tools</span>
                    </li>
                    <li>
                        <a href="#dashboard">Dashboard</a>
                    </li>
                    <li>
                        <a href="#user">User Management</a>
                    </li>
                    <li>
                        <a href="#pageMapping">Page Role Management</a>
                    </li>
                    <!--<li>
                        <a href="#stats">Statics</a>
                    </li>-->
                    <li>
                        <a href="#activity">Activity</a>
                    </li>
                    <li>
                        <a href="#excelMapping">Excel Mapping</a>
                    </li>
                    <li>
                        <a href="#monitor">Monitor</a>
                    </li>
                    <li>
                        <a href="" ng-click="logout()">Log out</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>
<div ng-view>
</div>
</body>
</html>
