<div class="container">
    <div class="form-group">
        <div class="row">
            <div class="card col-sm-4">
                <h3 class="card-header">Memory Usage</h3>

                <div id="piechart_3d" class="monitor-card"></div>
                <div class="flt"><span class="legend-element" style="background-color: #DC3912;"></span>Used
                    <span class="legend-element" style="background-color: #3366CC;margin-right: 12px"></span>Free
                </div>
            </div>
            <div class="card col-sm-4">
                <h3 class="card-header">CPU Usage</h3>

                <div id="cpu_gauge" class="monitor-card" style="height: 305px;
    margin-top: -28px;"></div>
            </div>
        </div>
        <div class="row">
            <div class="card col-sm-4">
                <h3 class="card-header">Memory Usage</h3>

                <div id="piechar_3d" class="monitor-card"></div>
                <div class="flt"><span class="legend-element" style="background-color: #DC3912;"></span>Used
                    <span class="legend-element" style="background-color: #3366CC;margin-right: 12px"></span>Free
                </div>
            </div>
            <div class="card col-sm-4">
                <h3 class="card-header">CPU Usage</h3>

                <div id="ram_gauge" class="monitor-card" style="height: 305px;
    margin-top: -28px;"></div>
            </div>
        </div>
    </div>
</div>
