<div class="container">
    <div><h1>User Management</h1></div>
   <!-- <h5>
        <small class="text-info">Only Profile tab is enabled by default. Other tabs will get enabled when you select
            only one user.
        </small>
    </h5>-->
    <div class="alert alert-danger fade in" ng-show=showDangerMessage>
        <a href="" class="close" ng-click="closeDangerMsg()" aria-label="close">&times;</a>
        <strong>Oh Snap!</strong> <span>{{dangerMessage}}</span>
    </div>
    <div class="alert alert-warning fade in" ng-show=showWarningMessage>
        <a href="" class="close" ng-click="closeWarningMsg()" aria-label="close">&times;</a>
        <strong>Oh Snap!</strong> <span>{{warningMessage}}</span>
    </div>
    <div class="alert alert-success fade in" ng-show=showSuccessMessage>
        <a href="" class="close" ng-click="closeSuccessMsg()" aria-label="close">&times;</a>
        <strong>Success!</strong> <span>{{successMessage}}</span>
    </div>
    <uib-tabset active="activeJustified" justified="true">
        <uib-tab index="0" heading="Profile" ng-click = "refreshUsers()">
            <form class="form-horizontal" role="form" style="margin-top: 5px;">
                <div class="form-group">
                    <div class="col-sm-4 has-feedback">
                        <input type="text" class="form-control" id="userName" placeholder="Enter User Name"
                               ng-required="true" ng-model="user.userName">
                    </div>
                    <div class="col-sm-4 has-feedback">
                        <input type="text" class="form-control" id="ecode" placeholder="Enter ECode Of Employee"
                               ng-required="true" ng-model="user.ecode">
                    </div>
                    <button class="btn btn-primary" type="button" ng-click="createUser()">Register</button>
                </div>
            </form>
            <table class="table table-hover">
                <thead>
                <tr>
                    <th>User Name</th>
                    <th>ECode</th>
                    <th>Name</th>
                    <th>Roles</th>
                    <th>Active</th>
                    <th></th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="user in userList">
                    <td>{{user.userName}}</td>
                    <td>{{user.ecode}}</td>
                    <td>{{user.fullName}}</td>
                    <td>{{user.roles}}</td>
                    <td>{{user.active}}</td>
                    <td>
                        <button class="btn-xs btn-primary" type="button" ng-click="resetPassword(user.userName)">Reset
                            Password
                        </button>
                    </td>
                    <td><input type="radio" ng-model="selectedUser.id" name="user" value = "{{user.id}}">
                    </td>
                </tr>
                </tbody>
            </table>
        </uib-tab>
        <uib-tab index="1" heading="Roles" ng-click="initialize()" disable="roleTabDisabled">
            <div class="row" style="margin-top: 10px;">
                <div class="col-xs-5">
                    <select class="form-control" id="undo_redo" ng-model="allRoles.role"
                            ng-options="role.id as role.roleName for role in roles" size="8" multiple="multiple">
                    </select>
                </div>
                <div class="col-xs-2">
                    <button type="button" ng-click="moveAllToRight()" id="undo_redo_rightAl"
                            class="btn btn-default btn-block"><i class="glyphicon glyphicon-forward"></i></button>
                    <button type="button" ng-click="moveToRight()" id="undo_redo_rightSelecte"
                            class="btn btn-default btn-block"><i class="glyphicon glyphicon-chevron-right"></i></button>
                    <button type="button" ng-click="moveToLeft()" id="undo_redo_leftSelecte"
                            class="btn btn-default  btn-block"><i class="glyphicon glyphicon-chevron-left"></i></button>
                    <button type="button" ng-click="moveAllToLeft()" id="undo_redo_leftAl"
                            class="btn btn-default btn-block"><i class="glyphicon glyphicon-backward"></i></button>
                </div>
                <div class="col-xs-5">
                    <select class="form-control" id="undo_redo_to" ng-model="rolesSelected.role"
                            ng-options="role.id as role.roleName for role in userRoles" size="8" multiple="multiple"
                            ng-multiple="true">
                    </select>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-2">
                    <button type="button" class="btn btn-info btn-block" style="margin-top: 5px;"
                            ng-click="updateUserRoles()">Update Roles
                    </button>
                </div>
            </div>
        </uib-tab>
    </uib-tabset>
</div>