<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <style>
        /*@import url(http://fonts.googleapis.com/css?family=Roboto:400,500,700,300,100);
   */
        body {
            background-color: #ffffff;
            font-family: "Roboto", helvetica, arial, sans-serif;
            font-weight: 400;
            text-rendering: optimizeLegibility;
        }

        th {
            color: #D5DDE5;;
            background: #1b1e24;
            border-right: 1px solid #343a45;
            font-size: 12px;
            font-weight: 100;
            padding: 24px;
            text-align: left;
            text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
            vertical-align: middle;
        }

        .trClass {
            border-top: 1px solid #C1C3D1;
            color: #666B85;
            font-size: 16px;
            font-weight: normal;
            background: #ebecec;
        }

        .trClass td {
            padding: 10px;
        }

    </style>
</head>
<body>
<table cellspacing="0" cellpadding="0" border="0" align="center" bgcolor="#cecece" width="100%"
       style="max-width: 800px;">
    <tbody>
    <tr>
        <td dir="auto" align="center" valign="top" width="100%" style="padding: 0px 0px 0px 0px;" class="">
            <table align="center" border="0" cellpadding="0" cellspacing="0" width="100%">
                <tbody>
                <tr>
                    <td width="100%"><img src="logo.jpg"
                                          width="800" alt="Xebia" border="0" align="center"
                                          style="width: 100%; max-width: 800px;"></td>
                </tr>
                </tbody>
            </table>
        </td>
    </tr>
    <tr>
        <td dir="auto" align="center" valign="top" width="100%" style="padding: 0px 0px 0px 0px;" class="">
            <table align="center" border="0" cellpadding="0" cellspacing="0" width="100%">
                <tbody>
                <tr>
                    <td align="center" width="100%" style=" color: white;
                    font-size: large;
                    font-weight: 900;background-color: #000000">
                        <div style="padding: 20px;">ASSIGNED ASSET DETAILS</div>
                    </td>
                </tr>
                </tbody>
            </table>
        </td>
    <tr>
        <td dir="auto" align="center" valign="top" width="100%" style="padding: 0px 0px 0px 0px;" class="">
            <table align="center" border="0" cellpadding="0" cellspacing="0" width="100%">
                <tbody>
                <tr>
                    <td align="center" width="100%">
                        <div style="padding: 20px;">
                            <table align="center" cellpadding="1" cellspacing="1" width="100%"
                                   style="background-color: #ffffff">
                                <thead style="background-color: dimgrey">
                                <tr style="color: #ffffff">
                                    <th align="center">ASSET NAME</th>
                                    <th align="center">SERIAL NO.</th>
                                    <th align="center">ISSUE DATE</th>
                                    <th align="center">VALIDITY UPTO</th>
                                    <th align="center">ISSUED BY</th>
                                </tr>
                                </thead>
                                <tbody>
                                    #foreach($dto in $dtos)
                                    <tr class="trClass">
                                        <td align="center">${dto.asset.name}</td>
                                        <td align="center">${dto.asset.serialNumber}</td>
                                        <td align="center">${dto.dateOfIssue}</td>
                                        <td style="color: red" align="center">${dto.dateTillValid}</td>
                                        <td align="center">${dto.approver.firstName} ${dto.approver.lastName}</td>
                                    </tr>
                                    #end
                                </tbody>
                            </table>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </td>
    </tr>
    <tr>
        <td dir="auto" align="center" valign="top" width="100%" style="padding: 0px 0px 0px 0px;" class="">
            <table border="0" cellpadding="0" cellspacing="0" width="100%">
                <tbody>
                <tr>
                    <td width="100%" style="color: #1b1e24;background-color: #ebecec;">
                        <div style="padding: 20px;">NOTE: If you want to extend validity , please reach out to IT Team or Raise ticket at ext 247</div>
                    </td>
                </tr>
                </tbody>
            </table>
        </td>
    </tr>
    </tbody>

</table>


</body>
</html>