<div id="wrapper" style="margin-top: -20px;">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-12">
                <h1 style="font-size: 180px;"><strong>404</strong></h1>
                <h2 class="subtitle">PAGE NOT FOUND</h2>
                <h3 class="subtitle">Unfortunately we're having trouble loading the page <br> you are looking for. Please wait a moment and try again or use action below.</h3>
                <a href="#dashboard" class="btn btn-info">Back to dashboard</a>
            </div>

        </div>
    </div>
</div>